---
import type { TCompetitionResults } from '../types/TCompetitionResults'
interface CategoryResults {
  true: TCompetitionResults[];
  false: TCompetitionResults[];
}

interface Props {
  category: string;
  results: {
    [key: string]: TCompetitionResults[];
  };
}

const { category, results } = Astro.props
---
<article>
    <h1>{category}</h1>
    <div>
      <h2>Semifinales</h2>
      <ul>
        {results.semi.map((result, index) => (
          <li>
            <p>Equipo: {result.team_id}</p>
            <p>Tiempo: {result.time}</p>
            <p>Distancia: {result.distance}</p>
          </li>
        ))}
      </ul>
    </div>
    <hr>
    <div>
      <h2>Final</h2>
        <ul>
        {results.final.map((result, index) => (
            <li>
                <p>Equipo: {result.team_id}</p>
                <p>Tiempo: {result.time}</p>
                <p>Distancia: {result.distance}</p>
            </li>
        ))}
        </ul>
    </div>
</article>
<hr style="border: 1px solid red">